---
import img1 from "../assets/fallenoak.png";
import img2 from "../assets/P1010284.jpg";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import DisplayPony from "../components/DisplayPony.astro";
import DisplayNormal from "../components/DisplayNormal.astro";
---

<Layout title="Fallen Oak Equine Rescue | 404">
  <div
    class="bg-[#fefce8] min-h-[calc(100vh-10rem)] px-4 lg:px-0 flex flex-col items-center justify-center"
  >
  <DisplayPony>
    <Image src={img1} alt="404" width="400" format="avif" />
  </DisplayPony>
  <DisplayNormal>
    <Image src={img2} alt="404" width="400" format="avif" style="filter: drop-shadow(0 5px 5px #000)" class="max-h-64 w-auto sm:max-h-auto sm:h-64 lg:max-w-lg mx-auto z-0 rounded-lg -rotate-3 bg-blue-100 border-white border-8" />
  </DisplayNormal>
    <div class="text-8xl font-semibold text-black mt-8">404</div>
  </div>
</Layout>
