---
import img1 from "../assets/website_announcement.png";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Fallen Oak Equine Rescue | Credits">
  <div
    class="bg-[#fefce8] min-h-[calc(100vh-10rem)] px-4 lg:px-0 flex flex-col items-center"
  >
    <div
      style="opacity: 0; animation: fadein 0.5s ease 0.2s forwards;"
      class="flex flex-col justify-center items-center w-full lg:w-2/5 pt-24 lg:pt-32 pb-8 mb-12 lg:pb-16 gap-y-12 lg:gap-y-16"
    >
      <div class="text-5xl lg:text-7xl uppercase font-semibold tracking-wider">
        Credits
      </div>
      <div class="relative flex items-center justify-center max-h-40 w-full">
        <Image
          src={img1}
          alt=""
          style="filter: drop-shadow(0 5px 5px #000)"
          class="max-h-56 w-auto sm:max-h-auto sm:h-56 lg:max-w-lg mx-auto z-0 rounded-lg -rotate-3 bg-neutral-400 border-white border-8"
        />
      </div>
    </div>
    <!-- <hr
      class="border-neutral-400 border-1 w-full lg:w-2/3 pb-8 lg:pb-8"
      style="opacity: 0; animation: fadein 0.5s ease 0.6s forwards;"
    /> -->
    <div
      style="opacity: 0; animation: fadein 0.5s ease 0.8s forwards;"
      class="rounded-lg border border-dashed border-black p-2 sm:p-4 bg-amber-100 text-center px-4 lg:px-0 text-base lg:text-xl w-full 2xl:px-0 2xl:w-2/3 grid grid-cols-2 lg:grid-cols-3 gap-4 lg:mb-8 mb-4"
    >
      <div class="-space-y-0 sm:space-y-0">
        <div class="font-semibold text-base sm:text-2xl">15</div>
        <div class="text-xs sm:text-base">Head of Technology</div>
      </div>
      <div class="-space-y-0 sm:space-y-0">
        <div class="font-semibold text-sm sm:text-2xl ">Riley Walker (ChaosLlama)</div>
        <div class="text-xs sm:text-base">Head of Art</div>
      </div>
      <div class="-space-y-0 sm:space-y-0">
        <div class="font-semibold text-base sm:text-2xl">Cameron Fuller</div>
        <div class="text-xs sm:text-base">Art assets</div>
      </div>
      
      <div class="-space-y-0 sm:space-y-0">
        <div class="font-semibold text-base sm:text-2xl">Kim Sweeney</div>
        <div class="text-xs sm:text-base">President</div>
      </div>
      <div class="-space-y-0 sm:space-y-0">
        <div class="font-semibold text-base sm:text-2xl">Kyle Foster</div>
        <div class="text-xs sm:text-base">Manager of Operations</div>
      </div>
      <div class="-space-y-0 sm:space-y-0">
        <div class="font-semibold text-base sm:text-2xl">Alexander Jones</div>
        <div class="text-xs sm:text-base">Head of Publicity</div>
      </div>
      <div class="-space-y-0 sm:space-y-0">
        <div class="font-semibold text-base sm:text-2xl">Hector Rodriguez</div>
        <div class="text-xs sm:text-base">Head of Donor Relations</div>
      </div>
      <div class="-space-y-0 sm:space-y-0">
        <div class="font-semibold text-base sm:text-2xl">Aaron Lacy</div>
        <div class="text-xs sm:text-base">Asst. Head of Publicity</div>
      </div>
      <div class="-space-y-0 sm:space-y-0">
        <div class="font-semibold text-base sm:text-2xl">Brad Colangelo</div>
        <div class="text-[0.6rem] sm:text-base">Asst. Head of Donor Relations</div>
      </div>
    </div>
  </div>
</Layout>
