---
import Sponsorable from "../components/Sponsorable.astro";

import { Image } from "astro:assets";
import img1 from "../assets/FOER_OC_Gorebox.png";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
// import horses from "../data/adoptable.js";
---

<Layout title="Fallen Oaks Equine Rescue | About">
  <div
    class="bg-[#fefce8] min-h-[calc(100vh-10rem)] px-4 lg:px-0 flex flex-col items-center"
  >
    <div
      style="opacity: 0; animation: fadein 0.5s ease 0.2s forwards;"
      class="flex flex-col justify-center items-center w-full lg:w-full pt-24 lg:pt-32 pb-8 mb-12 lg:mb-0 lg:pb-8 gap-y-20 lg:gap-y-20"
    >
      <div
        class="text-3xl lg:text-7xl whitespace-nowrap uppercase font-semibold tracking-wider"
      >
        Donor Rewards
      </div>
      <div class="relative flex items-center justify-center max-h-40 w-full">
        <Image
          src={img1}
          width="400"
          alt=""
          style="filter: drop-shadow(0 5px 5px #000)"
          class="max-h-64 w-auto sm:max-h-auto sm:h-64 lg:max-w-lg mx-auto z-0 rounded-lg -rotate-3 bg-blue-100 border-white border-8"
        />
      </div>
      <div
        class="w-full lg:w-1/2 text-sm lg:text-sm flex flex-col gap-y-2 rounded border border-dashed border-black p-4 bg-amber-100"
        style="opacity: 0; animation: fadein 0.5s ease 0.6s forwards;"
      >
        <p>
          When one thinks of man’s best friend, they may think of many different
          animals, but none compare to the horse. Whether serving by our side in
          combat, enabling transport across vast landscapes to further human
          expansion, assisting in the application of science, or even just
          providing comfort and care to those in need, these beautiful and
          majestic creatures are deserving of only the best for helping to
          uplift us into the society we have today! However, they often find
          their kindness and servitude not going unpunished in life: abuse,
          neglect, illness, and other woes often befall these gentle giants.
          Very few people consider the plight of these exquisite equines - even
          fewer do anything to help alleviate their suffering - though there is
          one person who has risen to the occasion and crafted her life around
          supporting and caring for horses: Kim Sweeney, owner and president of
          Fallen Oak Equine Rescue.
        </p>
        <p>
          While Mrs. Sweeney has what it takes to care for these horses and
          prolong/rehabilitate them in a comfortable and healthy environment,
          she needs all the help she can get! If you are concerned for the care
          of at-risk horses and want to directly contribute to an organization
          with a proven commitment and track record of supporting and
          rehabilitating these animals - and get some nice rewards in the
          process - a monthly donation as low as $1 would be helping to ensure
          these and other horses get all the help they need.
        </p>
        <p>
          For questions or help, email: <a
            href="mailto:donors@fallenoak.org"
            class="hover:underline text-blue-500 font-medium underline-offset-4 duration-300"
            >donors@fallenoak.org</a
          >
        </p>
      </div>
    </div>
    <!-- <hr
      class="border-neutral-400 border-1 w-full lg:w-2/3 pb-8 lg:pb-16"
      style="opacity: 0; animation: fadein 0.5s ease 1.6s forwards;"
    /> -->
    <div class="mb-12 flex flex-col gap-y-4 w-full lg:w-full">
      <section class="flex justify-center" style="opacity: 0; animation: fadein 0.5s ease 1.0s forwards;">
        <div class="container px-4 w-full 2xl:w-2/3">
          <!-- <div class="max-w-2xl mx-auto mb-16 text-center">
            <span class="font-bold tracking-wider uppercase text-blue-600">Rewards</span>
            <h2 class="text-4xl font-bold lg:text-5xl">Choose your best plan</h2>
          </div> -->
          <div
            class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-8 items-stretch -mx-4"
          >
            <div class="flex mb-8 sm:px-4 lg:mb-0">
              <div
                class="flex flex-grow flex-col p-6 space-y-6 rounded shadow sm:p-8 bg-gray-50"
              >
                <div class="space-y-2">
                  <!-- <h4 class="text-2xl font-bold">Pro</h4> -->
                  <span class="text-6xl font-bold"
                    >$1
                    <span class="text-sm tracking-wide">/month</span>
                  </span>
                </div>
                <p class="mt-3 leading-relaxed text-gray-600">
                  Every dollar counts when it comes to the welfare and comfort
                  of horsies! As thanks for contributing two fancy coffees a
                  year, you will receive the following rewards:
                </p>
                <ul class="flex-1 mb-6 text-gray-600">
                  <li class="flex mb-2 space-x-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="flex-shrink-0 w-6 h-6 text-blue-600"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <span>One time personal thank you from Kim </span>
                  </li>
                  <li class="flex mb-2 space-x-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="flex-shrink-0 w-6 h-6 text-blue-600"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <span>Monthly newsletter sent to email address </span>
                  </li>
                </ul>
                <a href="https://www.zeffy.com/en-US/donation-form/bc6d55cd-76c7-4d42-ace0-52499a32e5ed" target="_blank"
                  class="inline-block px-5 py-3 font-semibold tracking-wider text-center rounded bg-blue-600 text-gray-50"
                  >Donate</a
                >
              </div>
            </div>
            <div class="flex mb-8 sm:px-4 lg:mb-0">
              <div
                class="flex flex-grow flex-col p-6 space-y-6 rounded shadow sm:p-8 bg-blue-600 text-gray-50"
              >
                <div class="space-y-2">
                  <!-- <h4 class="text-2xl font-bold">Pro</h4> -->
                  <span class="text-6xl font-bold"
                    >$5
                    <span class="text-sm tracking-wide">/month</span>
                  </span>
                </div>
                <p class="leading-relaxed">
                  At the cost of a nice dinner for two per year, you will
                  receive the following rewards:
                </p>
                <ul class="flex-1 space-y-2">
                  <li class="flex items-center space-x-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="flex-shrink-0 w-6 h-6"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <span>All previously mentioned rewards</span>
                  </li>
                  <li class="flex items-center space-x-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="flex-shrink-0 w-6 h-6"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <span>
                      Name on website (under a monthly donors section)
                    </span>
                  </li>
                </ul>
                <a href="https://www.zeffy.com/en-US/donation-form/bc6d55cd-76c7-4d42-ace0-52499a32e5ed" target="_blank"
                  class="inline-block px-5 py-3 font-semibold tracking-wider text-center rounded bg-white text-blue-600"
                  >Donate</a
                >
              </div>
            </div>
            <div class="flex mb-8 sm:px-4 lg:mb-0">
              <div
                class="flex flex-grow flex-col p-6 space-y-6 rounded shadow sm:p-8 bg-gray-50"
              >
                <div class="space-y-2">
                  <!-- <h4 class="text-2xl font-bold">Team</h4> -->
                  <span class="text-6xl font-bold"
                    >$10
                    <span class="text-sm tracking-wide">/month</span>
                  </span>
                </div>
                <p class="leading-relaxed text-gray-600">
                  You're pretty generous, friend! For the cost of most streaming
                  services per month, you get:
                </p>
                <ul class="flex-1 space-y-2 text-gray-600">
                  <li class="flex items-start space-x-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="flex-shrink-0 w-6 h-6 text-blue-600"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <span>All previous</span>
                  </li>
                  <li class="flex items-start space-x-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="flex-shrink-0 w-6 h-6 text-blue-600"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <span> Name on website, but larger </span>
                  </li>
                  <li class="flex items-start space-x-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="flex-shrink-0 w-6 h-6 text-blue-600"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <span> Christmas cards from the rescue </span>
                  </li>
                </ul>
                <a href="https://www.zeffy.com/en-US/donation-form/bc6d55cd-76c7-4d42-ace0-52499a32e5ed" target="_blank"
                  class="inline-block px-5 py-3 font-semibold tracking-wider text-center rounded bg-blue-600 text-gray-50"
                  >Donate</a
                >
              </div>
            </div>
            <div class="flex mb-8 sm:px-4 lg:mb-0">
              <div
                class="flex flex-grow flex-col p-6 space-y-6 rounded shadow sm:p-8 bg-blue-600 text-gray-50"
              >
                <div class="space-y-2">
                  <!-- <h4 class="text-2xl font-bold">Pro</h4> -->
                  <span class="text-6xl font-bold"
                    >$20
                    <span class="text-sm tracking-wide">/month</span>
                  </span>
                </div>
                <p class="leading-relaxed">
                  Having the most bang for your buck, the price of a fast food
                  combo a month will get you:
                </p>
                <ul class="flex-1 space-y-2">
                  <li class="flex items-center space-x-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="flex-shrink-0 w-6 h-6"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <span
                      >All previous (minus the previous mentions of name on
                      site)</span
                    >
                  </li>
                  <li class="flex items-center space-x-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="flex-shrink-0 w-6 h-6"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <span> Name on website, but even bigger! </span>
                  </li>
                  <li class="flex items-center space-x-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="flex-shrink-0 w-6 h-6"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <span> Signed photo of sponsored horse </span>
                  </li>
                </ul>
                <a href="https://www.zeffy.com/en-US/donation-form/bc6d55cd-76c7-4d42-ace0-52499a32e5ed" target="_blank"
                  class="inline-block px-5 py-3 font-semibold tracking-wider text-center rounded bg-white text-blue-600"
                  >Donate</a
                >
              </div>
            </div>
            <div class="flex mb-8 sm:px-4 lg:mb-0">
              <div
                class="flex flex-grow flex-col p-6 space-y-6 rounded shadow sm:p-8 bg-gray-50"
              >
                <div class="space-y-2">
                  <!-- <h4 class="text-2xl font-bold">Team</h4> -->
                  <span class="text-6xl font-bold"
                    >$50
                    <span class="text-sm tracking-wide">/month</span>
                  </span>
                </div>
                <p class="leading-relaxed text-gray-600">
                  You've got a whole lotta heart, fellow equestrian! For the
                  price of a bag of seed, you get:
                </p>
                <ul class="flex-1 space-y-2 text-gray-600">
                  <li class="flex items-start space-x-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="flex-shrink-0 w-6 h-6 text-blue-600"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <span>All previous tiers</span>
                  </li>
                  <li class="flex items-start space-x-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="flex-shrink-0 w-6 h-6 text-blue-600"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <span
                      >“About you” summary or “about your business”, with links
                      permitted (w/ photo, if desired) on a donor section of the
                      website (everything requires our approval before adding).
                      Kept so long as monthly payments are made
                    </span>
                  </li>
                  <li class="flex items-start space-x-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="flex-shrink-0 w-6 h-6 text-blue-600"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <span
                      >Early access to event announcements and registration &
                      priority treatment during applicable events
                    </span>
                  </li>
                </ul>
                <a href="https://www.zeffy.com/en-US/donation-form/bc6d55cd-76c7-4d42-ace0-52499a32e5ed" target="_blank"
                  class="inline-block px-5 py-3 font-semibold tracking-wider text-center rounded bg-blue-600 text-gray-50"
                  >Donate</a
                >
              </div>
            </div>
            <div class="flex mb-8 sm:px-4 lg:mb-0">
              <div
                class="flex flex-grow flex-col p-6 space-y-6 rounded shadow sm:p-8 bg-blue-600 text-gray-50"
              >
                <div class="space-y-2">
                  <!-- <h4 class="text-2xl font-bold">Pro</h4> -->
                  <span class="text-6xl font-bold"
                    >$100
                    <span class="text-sm tracking-wide">/month</span>
                  </span>
                </div>
                <p class="leading-relaxed">
                  You’re amazing! For such a generous contribution, the horsies
                  can get a roll of hay and you can get:
                </p>
                <ul class="flex-1 space-y-2">
                  <li class="flex items-center space-x-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="flex-shrink-0 w-6 h-6"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <span>All previous perks</span>
                  </li>
                  <li class="flex items-center space-x-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="flex-shrink-0 w-6 h-6"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <span
                      >Signed clay hoof-print of your preferred horse sent to
                      donor
                    </span>
                  </li>
                </ul>
                <a href="https://www.zeffy.com/en-US/donation-form/bc6d55cd-76c7-4d42-ace0-52499a32e5ed" target="_blank"
                  class="inline-block px-5 py-3 font-semibold tracking-wider text-center rounded bg-white text-blue-600"
                  >Donate</a
                >
              </div>
            </div>
            <div class="flex mb-8 sm:px-4 lg:mb-0">
              <div
                class="flex flex-grow flex-col p-6 space-y-6 rounded shadow sm:p-8 bg-gray-50"
              >
                <div class="space-y-2">
                  <!-- <h4 class="text-2xl font-bold">Pro</h4> -->
                  <span class="text-6xl font-bold"
                    >$250
                    <span class="text-sm tracking-wide">/month</span>
                  </span>
                </div>
                <p class="mt-3 leading-relaxed text-gray-600">
                  Yeehaw, pardner! The closest you can get to owning a horse
                  without actually owning one, this tier not only provides the
                  horses with EIGHT bags of senior-feed grain but also procures
                  the following rewards:
                </p>
                <ul class="flex-1 mb-6 text-gray-600">
                  <li class="flex mb-2 space-x-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="flex-shrink-0 w-6 h-6 text-blue-600"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <span>All previous tiers </span>
                  </li>
                  <li class="flex mb-2 space-x-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="flex-shrink-0 w-6 h-6 text-blue-600"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <span
                      >Rename any unsponsored rescue horse (some limitations may
                      apply). Including long term residents and those up for
                      adoption. Once per year
                    </span>
                  </li>
                </ul>
                <a href="https://www.zeffy.com/en-US/donation-form/bc6d55cd-76c7-4d42-ace0-52499a32e5ed" target="_blank"
                  class="inline-block px-5 py-3 font-semibold tracking-wider text-center rounded bg-blue-600 text-gray-50"
                  >Donate</a
                >
              </div>
            </div>
            <div class="flex mb-8 sm:px-4 lg:mb-0">
              <div
                class="flex flex-grow flex-col p-6 space-y-6 rounded shadow sm:p-8 bg-blue-600 text-gray-50"
              >
                <div class="space-y-2">
                  <!-- <h4 class="text-2xl font-bold">Pro</h4> -->
                  <span class="text-6xl font-bold"
                    >$1000
                    <span class="text-sm tracking-wide">/month</span>
                  </span>
                </div>
                <p class="leading-relaxed">
                  Your devotion to horse-rescue and comfort will not go
                  unnoticed. To recognize the earnest and sincere care and
                  concern you have, the following benefits will be provided:
                </p>
                <ul class="flex-1 space-y-2">
                  <li class="flex items-center space-x-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="flex-shrink-0 w-6 h-6"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <span>All previous perks </span>
                  </li>
                  <li class="flex items-center space-x-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="flex-shrink-0 w-6 h-6"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <span> Official voting power during meetings </span>
                  </li>
                  <li class="flex items-center space-x-2">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      class="flex-shrink-0 w-6 h-6"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                        clip-rule="evenodd"></path>
                    </svg>
                    <span> Fallen Oak polo </span>
                  </li>
                </ul>
                <a href="https://www.zeffy.com/en-US/donation-form/bc6d55cd-76c7-4d42-ace0-52499a32e5ed" target="_blank"
                  class="inline-block px-5 py-3 font-semibold tracking-wider text-center rounded bg-white text-blue-600"
                  >Donate</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</Layout>
