---
import img1 from "../assets/horse16.jpg";
import img2 from "../assets/horse.jpg";
import img3 from "../assets/P1010419.jpg";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Fallen Oaks Equine Rescue | About">
  <div
    class="bg-[#fefce8] min-h-[calc(100vh-10rem)] flex flex-col items-center"
  >
    <div
      class="flex flex-col justify-center items-center w-full lg:w-2/5 pt-32 pb-8 lg:pb-16 gap-y-12 sm:gap-y-24"
    >
      <div class="text-7xl uppercase font-semibold tracking-wide">Our Horses</div>
    
      <div class="grid grid-cols-3">
        
      </div>

    </div>
  </div>
</Layout>
