---
import Horse from "../components/Horse.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Fallen Oaks Equine Rescue | About">
  <div
    class="bg-[#fefce8] min-h-[calc(100vh-10rem)] px-4 lg:px-0  flex flex-col items-center"
  >
    <div
      class="flex flex-col justify-center items-center w-full lg:w-2/5 pt-24 lg:pt-32 pb-8 mb-12 lg:pb-16 gap-y-12 lg:gap-y-24"
    >
    <div style="transform: scale(0); animation: jump 0.6s cubic-bezier(0.77, 0.01, 0.25, 1) 0.2s forwards;" class="text-5xl lg:text-7xl uppercase font-semibold tracking-wide">Our Horses</div>
    
</div>
<div>
  <Horse />
</div>
</Layout>
