---
import Sponsorable from "../components/Sponsorable.astro";

import { Image } from "astro:assets";
import img1 from "../assets/FORRsign.png";
import Layout from "../layouts/Layout.astro";
import horses from "../data/sponsorable.js";
---

<Layout title="Fallen Oak Equine Rescue | Sponsorable Horses">
  <div
    class="bg-[#fefce8] min-h-[calc(100vh-10rem)] px-4 lg:px-0 flex flex-col items-center"
  >
    <div
      style="opacity: 0; animation: fadein 0.5s ease 0.2s forwards;"
      class="flex flex-col justify-center items-center w-full lg:w-full pt-24 lg:pt-32 pb-8 mb-12 lg:mb-0 lg:pb-8 gap-y-20 lg:gap-y-20"
    >
      <div
        class="text-3xl lg:text-7xl whitespace-nowrap uppercase font-semibold tracking-wider"
      >
        Sponsorable Horses
      </div>
      <div class="relative flex items-center justify-center max-h-40 w-full">
        <Image
          src={img1}
          width="400"
          alt=""
          style="filter: drop-shadow(0 5px 5px #000)"
          class="max-h-64 w-auto sm:max-h-auto sm:h-64 lg:max-w-lg mx-auto z-0 rounded-lg -rotate-3 bg-blue-100 border-white border-8"
        />
      </div>
      <div
        class="w-full lg:w-1/2 text-sm lg:text-sm flex flex-col gap-y-2 rounded border border-dashed border-black p-4 bg-amber-100"
        style="opacity: 0; animation: fadein 0.5s ease 0.6s forwards;"
      >
        <p>
          Would you love to own a horse but lack the time, space, or expertise
          for one? We have the next best thing: sponsoring a sanctuary horse!
        </p>
        <p>
          By becoming a sponsor for one of our permanent residents, you'll become
          an integral part of their care. Your sponsorship money will be used to
          cover the horse's monthly financial needs, including food, medication,
          and hoof trims. You'll also have an input on any of the
          major decisions regarding your horse's care. In addition, sponsors will receive
          regular monthly updates on their special steed with photos, a small
          lock of their mane or tail, and the option to have a photo and description
          of you and your horse featured on the website. You can also come
          to the rescue and spend some time with your horse, and
          for some horses, you'll even have the option to change their name.
        </p>
        <p>
          As an added benefit, horse sponsors also receive early access
          registration for all limited access events held by Fallen Oak.
        </p>
        <p>
          This is a fantastic way to receive all the pride and connection of
          having one of man's oldest friends without having to clean a single
          stall, knowing that your contribution is directly going to care for a
          horse in need.
        </p>
        <p>
          For questions or help, email: <a
            href="mailto:donors@fallenoak.org"
            class="hover:underline text-blue-500 font-medium underline-offset-4 duration-300"
            >donors@fallenoak.org</a
          >
        </p>
      </div>
    </div>
    <!-- <hr
      class="border-neutral-400 border-1 w-full lg:w-2/3 pb-8 lg:pb-16"
      style="opacity: 0; animation: fadein 0.5s ease 1.6s forwards;"
    /> -->

    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-y-32 lg:gap-x-16 lg:gap-y-32 mt-8 lg:mt-24 mb-16"
      style="opacity: 0; animation: fadein 0.5s ease 1.0s forwards;"
    >
      {horses.map((horse, idx) => <Sponsorable {...horse} idx={idx} />)}
    </div>
  </div>
</Layout>
