---
import img1 from "../assets/website_announcement.png";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Fallen Oak Equine Rescue | Sponsor Credits">
  <div
    class="bg-[#fefce8] min-h-[calc(100vh-10rem)] px-4 lg:px-0 flex flex-col items-center"
  >
    <div
      style="opacity: 0; animation: fadein 0.5s ease 0.2s forwards;"
      class="flex flex-col justify-center items-center w-full lg:w-2/5 pt-24 lg:pt-32 pb-8 mb-12 lg:pb-16 gap-y-12 lg:gap-y-16"
    >
      <div class="text-5xl lg:text-7xl uppercase font-semibold tracking-wider">
        Sponsor Credits
      </div>
      <div class="relative flex items-center justify-center max-h-40 w-full">
        <Image
          src={img1}
          alt=""
          style="filter: drop-shadow(0 5px 5px #000)"
          class="max-h-56 w-auto sm:max-h-auto sm:h-56 lg:max-w-lg mx-auto z-0 rounded-lg -rotate-3 bg-neutral-400 border-white border-8"
        />
      </div>
    </div>
    <!-- <hr
      class="border-neutral-400 border-1 w-full lg:w-2/3 pb-8 lg:pb-8"
      style="opacity: 0; animation: fadein 0.5s ease 0.6s forwards;"
    /> -->
    <div
    style="opacity: 0; animation: fadein 0.5s ease 0.8s forwards;"
    class="rounded-lg border border-dashed border-black p-2 sm:p-4 bg-amber-100 text-center px-4 lg:px-0 text-base lg:text-xl w-full 2xl:px-0 2xl:w-2/3 gap-4 lg:mb-8 mb-4"
  >
    <div
      style="opacity: 0; animation: fadein 0.5s ease 0.8s forwards;"
      class="grid grid-cols-2 lg:grid-cols-2 gap-4 lg:mb-8 mb-4"
    >

    <!--1k-->
    
    
    <!--250-->
      <div class="mt-1">Benjamin Bousquet</div>
      <div>

        Sunny is officially sponsored by MareQuest! Play on Steam today!
        <a href="https://store.steampowered.com/app/2184130/MareQuest/">https://store.steampowered.com/app/2184130/MareQuest/</a>
        <a href="https://store.steampowered.com/app/2391870/MareQuest_An_Interactive_Tail/">https://store.steampowered.com/app/2391870/MareQuest_An_Interactive_Tail/</a>
      </div>

      <!-- <hr class="solid">-->
      <!-- <div>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum purus vitae rhoncus pretium. Ut interdum ligula orci, tempus elementum nulla tristique non. Cras ullamcorper felis non tempor tincidunt. Nunc suscipit nunc leo, a vehicula mauris imperdiet sed. Quisque purus lacus, cursus et scelerisque nec, pulvinar ac dui. Aenean lobortis quam et turpis accumsan, a elementum quam convallis. Suspendisse potenti. Quisque elementum auctor arcu in consectetur. Donec sollicitudin magna nunc, ut tempus augue consequat nec. In hac habitasse platea dictumst. Mauris pharetra metus a urna consectetur, vel laoreet magna scelerisque. Donec maximus purus quis ligula consectetur consectetur. Proin faucibus metus id ex viverra, sed consectetur quam aliquet. In hac habitasse platea dictumst. Maecenas sit amet erat leo. 
      </div>
      <div class="mt-1">Theodore Bugnet</div>
      -->
      



    </div>

    <!-- <hr class="solid">-->

    <div
      style="opacity: 0; animation: fadein 0.5s ease 0.8s forwards;"
      class="grid grid-cols-1 lg:grid-cols-1 gap-4 lg:mb-8 mb-4"
    >
    <!--<div class="text-5xl mt-1">Maxwell Wurtz, Daniel Mahoney</div>-->
  </div>



    <hr class="solid">

    <div
      style="opacity: 0; animation: fadein 0.5s ease 0.8s forwards;"
      class="grid grid-cols-1 lg:grid-cols-1 gap-4 lg:mb-8 mb-4"
    >
  
  
  
    <!-- <div class="text-5xl"></div>-->

    <!--<div class="text-4xl"></div>-->


    <div class="text-5xl"></div>


    <!-- 50 -->
    <!-- <div class="text-5xl">Maxwell Wurtz, Daniel Mahoney</div> -->

    <!--20 -->
    <div class="text-3xl">Cameron Fuller, Eric Hammons, Wendy Hartman, Junehee Kim</div>

    <!--10 -->
    <div class="text-xl">Rhys Adams, Joseph Blanton, Dean Bradshaw, Daniel Kirk, Yi Hua Zhang, Junehee Kim</div>

    <!-- 5 -->
    <div class="text-base">Kurtis Burkett, Kyle Foster, Joseph Mittler</div>

    <div class="text-xs"></div>



  
  </div>
</div>

  </div>
  </div>
</Layout>

<style>
/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
  width:50%;
  margin-left:auto;
  margin-right:auto
}

</style>