---
import img1 from "../../assets/FOrescueartnopony.png";
import img2 from "../../assets/FOshelterannouncementimage.png";
import { Image } from "astro:assets";
import Button from "../Button.astro";
import ButtonSmall from "../ButtonSmall.astro";
---

<div class="h-auto">
  <section
    class="bg-yellow-50 w-full flex flex-col items-center justify-center tracking-wide font-semibold uppercase h-[20vh]"
  >
    <!-- <div
            class="text-lg md:text-2xl pb-4 md:pb-4 uppercase tracking-wide font-normal text-center md:text-left"
          >
            Donate to Fallen Oak
          </div> -->
    <div class="text-4xl lg:text-7xl">Make a difference</div>
  </section>

  <section class="bg-yellow-50 w-full pb-24 px-2 lg:px-0 lg:h-auto h-[150vh]">
    <div
      class="comparisonSection w-full h-64 lg:h-160 lg:w-288 mx-auto text-center"
    >
      <div class="comparisonImage beforeImage">
        <Image
          src={img1}
          alt="before"
          style="filter: grayscale(50%);"
          class="rounded-lg"
        />
      </div>
      <div class="comparisonImage afterImage border-r-2 border-white ml-[2px]">
        <Image src={img2} alt="before" class="rounded-lg" />
      </div>
      <!-- <div class="text-center text-6xl tracking-wide mt-4 font-bold uppercase">
      Donations
    </div> -->
      <div class="mt-4">
        <Button href="/donate" text="Learn more" />
      </div>
    </div>
  </section>
</div>

<style>
  .comparisonSection {
    position: relative;
    /* padding-bottom: 56.25%;  */
  }
  .comparisonImage {
    width: 100%;
    height: 100%;
  }
  .afterImage {
    position: absolute;
    overflow: hidden;
    top: 0;
    transform: translate(100%, 0px);
  }
  .afterImage img {
    transform: translate(-100%, 0px);
  }
  .comparisonImage img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.utils.toArray(".comparisonSection").forEach((section) => {
    const tl = gsap.timeline({
      scrollTrigger: {
        trigger: section,
        start: "center center",
        // makes the height of the scrolling (while pinning) match the width, thus the speed remains constant (vertical/horizontal)
        end: () => "+=" + section.offsetWidth,
        scrub: true,
        pin: true,
        anticipatePin: 1,
      },
      defaults: { ease: "none" },
    });
    // animate the container one way...
    tl.fromTo(
      section.querySelector(".afterImage"),
      { xPercent: -100, x: 0 },
      { xPercent: 0 }
    )
      // ...and the image the opposite way (at the same time)
      .fromTo(
        section.querySelector(".afterImage img"),
        { xPercent: 100, x: 0 },
        { xPercent: 0 },
        0
      );
  });
</script>
