---
import img1 from "../../assets/FOrescueartnopony.png";
import img2 from "../../assets/FOshelterannouncementimage.png";
import { Image } from "astro:assets";
import Button from "../Button.astro";
import { Icon } from "astro-icon/components";
---

<div class="h-auto">
  <section
    id="difference"
    class="bg-yellow-50 w-full flex flex-col items-center justify-center tracking-wide font-semibold uppercase h-[20vh]"
  >
    <div class="text-4xl lg:text-7xl">Make a difference</div>
  </section>
  <section
    class="bg-yellow-50 w-full pb-24 px-2 lg:px-0 lg:h-auto h-full hidden lg:block"
  >
    <div
      class="comparisonSection w-full h-64 lg:h-160 lg:w-288 mx-auto text-center"
    >
      <div class="comparisonImage beforeImage">
        <Image
          src={img1}
          alt="before"
          style="filter: grayscale(50%);"
          class="rounded-lg"
        />
      </div>
      <div class="comparisonImage afterImage border-r-2 border-white ml-[2px]">
        <Image src={img2} alt="before" class="rounded-lg" />
      </div>
      <div class="mt-4">
        <Button href="/donate" text="Learn more" />
      </div>
      <div
        id="scroll-down-parent-difference"
        class="mt-2 hidden opacity-100 lg:flex justify-center z-50"
      >
        <Icon
          id="scroll-down-indicator-difference"
          class="w-12 h-12 p-2 text-black cursor-pointer hover:text-yellow-50 hover:bg-[#937666] duration-300 rounded"
          name="ph:caret-down-bold"
          onclick="window.lenis.scrollTo('#supporters')"
        />
      </div>
    </div>
  </section>
  <section
    class="bg-yellow-50 w-full pb-24 px-2 lg:px-0 lg:h-auto h-auto lg:hidden flex flex-col items-center justify-center"
  >
    <div><Image src={img2} alt="before" class="rounded-lg" /></div>
    <div class="mt-4">
      <Button href="/donate" text="Learn more" />
    </div>
  </section>
</div>

<style>
  .comparisonSection {
    position: relative;
    /* padding-bottom: 56.25%;  */
  }
  .comparisonImage {
    width: 100%;
    height: 100%;
  }
  .afterImage {
    position: absolute;
    overflow: hidden;
    top: 0;
    transform: translate(100%, 0px);
  }
  .afterImage img {
    transform: translate(-100%, 0px);
  }
  .comparisonImage img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  
  import { animate, inView, stagger } from "motion";

  gsap.utils.toArray(".comparisonSection").forEach((section) => {
    const tl = gsap.timeline({
      scrollTrigger: {
        trigger: section,
        start: "center center",
        // makes the height of the scrolling (while pinning) match the width, thus the speed remains constant (vertical/horizontal)
        end: () => "+=" + section.offsetWidth,
        scrub: true,
        pin: true,
        anticipatePin: 1,
      },
      defaults: { ease: "none" },
    });
    // animate the container one way...
    tl.fromTo(
      section.querySelector(".afterImage"),
      { xPercent: -100, x: 0 },
      { xPercent: 0 }
    )
      // ...and the image the opposite way (at the same time)
      .fromTo(
        section.querySelector(".afterImage img"),
        { xPercent: 100, x: 0 },
        { xPercent: 0 },
        0
      );
  });

  const scrollIndicatorParent = document.getElementById(
    "scroll-down-parent-difference"
  );
  const scrollIndicator = document.getElementById(
    "scroll-down-indicator-difference"
  );
  inView("#scroll-down-parent-difference", (info) => {
    animate(
      scrollIndicatorParent,
      { opacity: [0, 1] },
      { duration: 1, delay: 0.5 }
    );
    animate(
      scrollIndicator,
      { y: [0, 10, 0] },
      { duration: 1.5, repeat: Infinity, easing: ["ease-out", "ease-in"] }
    );
  });

</script>
