---
import Button from "../Button.astro";
import { Icon } from "astro-icon/components";
---

<section
  class="w-screen h-screen lg:h-screen relative flex items-center justify-center"
  style="background-image: linear-gradient(to top, #fefce8 5%, transparent 20%), linear-gradient(to right, #fefce8 40%, transparent 70%), url('/P1010228.jpg'); background-position: center; background-repeat: no-repeat; background-size: 100% 100%, cover;"
>
  <!-- <div class="gray">

  </div> -->
  <div class="w-full lg:w-11/12 text-[#121619] px-8 lg:px-0">
    <div class="w-full md:w-2/5 flex flex-col gap-y-8">
      <div class="text-4xl lg:text-left text-center lg:text-8xl uppercase font-semibold tracking-normal" id="title">
        <div class="whitespace-nowrap">Fallen Oak</div>
        <div class="whitespace-nowrap">Equine Rescue</div>
      </div>
      <div class="flex flex-col gap-y-8" id="desc">
        <div class="text-base lg:text-2xl">
          Fallen Oak Equine Rescue and Rehabilitation is a non-profit equine
          rescue located in Belleview, FL, devoted to providing a rehabilitative
          sanctuary for horses that have been abandoned, abused, or are
          otherwise in need of a safe and loving environment. At Fallen Oak, our
          mission is to restore the health and spirit of each horse that comes
          through our gates.
        </div>

        <div class="w-full md:text-left text-center">
          <Button href="/about" text="Learn more" />
        </div>
      </div>
      <div id="scroll-down-parent" class="hidden opacity-0 lg:flex justify-start">
        <Icon
          id="scroll-down-indicator"
          class="w-12 h-12 p-2 text-black cursor-pointer hover:text-yellow-50 hover:bg-[#937666] duration-300 rounded"
          name="ph:caret-down-bold"
          onclick="window.lenis.scrollTo('#about')"
        />
      </div>
    </div>
  </div>
</section>

<script>
  import { animate, inView, stagger } from "motion";
  const keyframes = {
    y: ["20%", "0%"],
    opacity: [0.0, 1],
  };
  const title = document.getElementById("title");
  animate(title, keyframes, {
    duration: 0.6,
    delay: stagger(0.5, { start: 0.3 }),
  });
  const desc = document.getElementById("desc");
  animate(desc, keyframes, {
    duration: 0.6,
    delay: stagger(0.5, { start: 0.5 }),
  });

  const scrollIndicatorParent = document.getElementById(
    "scroll-down-parent"
  );
  animate(
    scrollIndicatorParent,
    { opacity: [0, 1] },
    { duration: 1, delay: 1.5}
  );
  const scrollIndicator = document.getElementById(
    "scroll-down-indicator"
  );
  animate(
    scrollIndicator,
    { y: [0, 10, 0] },
    { duration: 1.5, repeat: Infinity, easing: ["ease-out", "ease-in"] }
  );
</script>
