---
import Button from "../Button.astro";
import ScrollDown from "../ScrollDown.astro";
import { Image } from "astro:assets";
import img1 from "../../assets/P1010228.jpg";
import { Icon } from "astro-icon/components";
---

<section
  class="text-[#121619] desktop-gradients w-screen min-h-screen mb-24 lg:mb-0 lg:h-screen relative lg:flex lg:items-center lg:justify-center bg-cover bg-center"
>
  <div class="w-full lg:w-11/12 lg:h-auto h-full">
    <div class="w-full md:w-2/5 lg:h-auto h-full">
      <div class="w-full lg:hidden block pb-8">
        <Image src={img1} alt="Splash" />
      </div>
      <div class="px-4 lg:px-0 flex flex-col gap-y-8 h-full">
        <div
          class="text-5xl lg:text-left text-center lg:text-8xl uppercase font-semibold tracking-normal"
          id="title"
          style="opacity: 0; animation: fadein 0.5s ease 0.5s forwards;"
        >
          <div class="whitespace-nowrap">Fallen Oak</div>
          <div class="whitespace-nowrap">Equine Rescue</div>
        </div>
        <div class="px-4 lg:px-0 flex flex-col gap-y-8 pb-8" id="desc">
          <div
            class="text-base lg:text-2xl"
            style="opacity: 0; animation: fadein 0.5s ease 0.7s forwards;"
          >
            <span class="font-semibold"
              >Fallen Oak Equine Rescue and Rehabilitation, Inc.</span
            > is located on 7 acres in beautiful Belleview, Florida. We currently
            operate out of a five-stall barn, a pasture for grazing, and a round
            pen for training and evaluating rescued horses. We rely on our devoted
            foster homes to help us transition horses from our facility to their
            forever home, and to help us when numbers of horses in-need force us
            to overflow. We could not do what we do without our team of foster parents!
          </div>

          <div
            class="w-full md:text-left text-center"
            style="opacity: 0; animation: fadein 0.5s ease 1.0s forwards;"
          >
            <Button href="/about" text="Learn more" />
          </div>
        </div>
        <div
          id="scroll-down-parent"
          class="hidden opacity-100 lg:flex justify-start"
        >
          <Icon
            id="scroll-down-indicator"
            class="w-12 h-12 p-2 text-black cursor-pointer hover:text-yellow-50 hover:bg-[#937666] duration-300 rounded"
            name="ph:caret-down-bold"
            onclick="window.lenis.scrollTo('#adoptables')"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  // import { animate, inView, stagger } from "motion";
  // const keyframes = {
  //   y: ["20%", "0%"],
  //   opacity: [0.0, 1],
  // };

  // const scrollIndicatorParent = document.getElementById("scroll-down-parent");
  // animate(
  //   scrollIndicatorParent,
  //   { opacity: [0, 1] },
  //   { duration: 1, delay: 1.5 }
  // );
  // const scrollIndicator = document.getElementById("scroll-down-indicator");
  // animate(
  //   scrollIndicator,
  //   { y: [0, 10, 0] },
  //   { duration: 1.5, repeat: Infinity, easing: ["ease-out", "ease-in"] }
  // );
</script>

<style>
  @media (min-width: 1024px) {
    .desktop-gradients {
      background-image: linear-gradient(to top, #fefce8 5%, transparent 20%),
        linear-gradient(to right, #fefce8 40%, transparent 70%),
        url("/P1010228.jpg");
      background-size:
        100% 100%,
        cover;
    }
  }

  @media (max-width: 1024px) {
    .desktop-gradients {
      @apply bg-yellow-50;
      background-size:
        100% 100%,
        cover;
    }
  }

  #scroll-down-indicator {
    opacity: 0; /* Start with the element being transparent */
    animation:
      fadein 1s ease forwards 2.0s,
      bounce 1.5s infinite ease-out 2.0s;
  }
</style>
