---
import Button from "../Button.astro";
---

<section
  class="w-screen h-screen relative flex items-center justify-center"
  style="background-image: linear-gradient(to top, #fefce8 5%, transparent 20%), linear-gradient(to right, #fefce8 40%, transparent 70%), url('/P1010228.jpg'); background-position: center; background-repeat: no-repeat; background-size: 100% 100%, cover;"
>
  <!-- <div class="gray">

  </div> -->
  <div class="w-11/12 z-50 text-[#121619]">
    <div class="w-2/5 flex flex-col gap-y-8">
      <div class="text-8xl uppercase font-semibold tracking-normal">
        <div class="whitespace-nowrap">Fallen Oak</div>
        <div class="whitespace-nowrap">Equine Rescue</div>
      </div>
      <div class="text-2xl">
        Fallen Oak Equine Rescue and Rehabilitation is a non-profit
        equine rescue located in Belleview, FL, devoted to providing a
        rehabilitative sanctuary for horses that have been abandoned, abused, or
        are otherwise in need of a safe and loving environment. At Fallen Oak, our mission is to restore the
        health and spirit of each horse that comes through our gates.
      </div>

      <div class="max-w-84">
        <Button />
      </div>
    </div>
    <div class="w-1/2"></div>
  </div>
</section>
