---
import img1 from "../../assets/dash.png";
import { Image } from "astro:assets";
import Button from "../Button.astro";
---

<section
  class="relative flex flex-col items-center justify-center py-16 z-0"
  style="background-image: linear-gradient(to top, #fefce8 0%, #fefce8 30%);"
>
  <div
    class="relative rounded-xl shadow-2xl border-8 border-black p-8 bg-blue-50 mx-auto grid justify-center grid-cols-2 text-center lg:grid-cols-3 gap-16"
  >
    <div class="flex flex-col justify-start">
      <p class="text-4xl font-bold leading-none lg:text-8xl">24+</p>
      <p class="text-sm sm:text-2xl">Years of Rescue</p>
    </div>
    <div class="flex flex-col justify-start">
      <p class="text-4xl font-bold leading-none lg:text-8xl">850+</p>
      <p class="text-sm sm:text-2xl">Rescued Horses</p>
    </div>
    <div class="flex flex-col justify-start">
      <p class="text-4xl font-bold leading-none lg:text-8xl">30+</p>
      <p class="text-sm sm:text-2xl">Volunteers</p>
    </div>
    <div class="flex flex-col justify-start">
      <p class="text-4xl font-bold leading-none lg:text-8xl">$9,999</p>
      <p class="text-sm sm:text-2xl">Donated to Horses</p>
    </div>
    <div class="flex flex-col justify-start">
      <p class="text-4xl font-bold leading-none lg:text-8xl">22</p>
      <p class="text-sm sm:text-2xl">Permanent Residents</p>
    </div>
    <div class="flex flex-col justify-start">
      <p class="text-4xl font-bold leading-none lg:text-8xl">99</p>
      <p class="text-sm sm:text-2xl">Sponsors</p>
    </div>

    <Image
    id="dashie"
      src={img1}
      alt=""
      style="filter: drop-shadow(0 5px 5px #000);"
      class="left-24 top-[-14.6rem] absolute w-48 max-w-lg mx-auto z-0"
    />
  </div>
</section>

<style>
/*   
@keyframes slideUp {
  0% {
    z-index: -10;
    transform: translateY(100%);
  }
  90% {
    transform: translateY(-1%);
    z-index: -10;
  }
  100% {
    transform: translateY(0%);
    z-index: 10;
  }
}

  .animate-up {
    animation: slideUp 1.0s ease forwards;
  } */
</style>

<script>
  // const observer = new IntersectionObserver((entries) => {
  //   // Loop over the entries
  //   entries.forEach((entry) => {
  //     // If the element is visible
  //     if (entry.isIntersecting) {
  //       // Add the animation class
  //       entry.target.classList.add("animate-up");
  //     }
  //   });
  // });

  // observer.observe(document.getElementById("dashie"));
</script>
