---
import img1 from "../../assets/15.png";
import { Image } from "astro:assets";
const { text, name, title } = Astro.props;
---
<div class="flex flex-col max-w-sm bg-white border-2 shadow-2xl border-black rounded-xl" >
  <div class="px-4 pb-12 pt-10  bg-transparent">
    <p class="relative py-1 text-base italic text-black">
      { text }
    </p>
  </div>
  <div class="flex flex-col items-center justify-center p-8 rounded-b-lg  text-black">
    <Image src={img1} alt="" class="w-16 h-16 mb-2 -mt-16 bg-center bg-cover rounded-full border border-black " />
    <p class="text-lg font-semibold leading-tight">{ name }</p>
    <p class="text-sm uppercase">{ title }</p>
  </div>
</div>