---
import img1 from "../../assets/dash.png";
import { Image } from "astro:assets";
import Button from "../Button.astro";
import Testimonial from "./Testimonial.astro";

import testimonials from "../../data/testimonials.json";
---

<section
  class="relative bg-yellow-50"
  style="background-image: linear-gradient(to top, #fefce8 0%, #fefce8 30%);"
>
  <div class="horizontal overflow-y-hidden">
    
    <div class="pin-wrap">
      <div class="text-7xl text-center uppercase absolute top-24 left-1/2 -translate-x-1/2 font-semibold whitespace-nowrap">Our supporters</div>
      <div class="animation-wrap to-right pr-8 pl-4 mt-36">
        {
          testimonials.map((t, idx) => (
            <div class="item">
              <Testimonial {...t} idx={idx}/>
            </div>
          ))
        }
        <div class="item">
          <a href="https://www.facebook.com/FallenOakEquineRescue/reviews" target="_blank" class="hover:scale-[1.1] hover:rotate-3 duration-300 flex items-center justify-center text-2xl font-medium flex-col w-full h-full">
            ...and many more!
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .horizontal {
    overflow-x: hidden;
  }

  .horizontal .pin-wrap {
    @apply flex relative h-screen;
  }
  .horizontal .animation-wrap {
    @apply flex relative h-screen;
  }

  .horizontal .item {
    height: calc(100vh - 300px);
    @apply relative flex px-4 py-8 mt-24 flex-none w-96 items-center leading-7 select-none bg-transparent;
    /*  border-r border-black border-opacity-5 */
  }

  .horizontal .item:before {
    position: absolute;
    font-size: 24px;
    opacity: 0.13;
    font-weight: bold;
    z-index: -1;
    -webkit-transform: translate(-30px, -50px);
    transform: translate(-30px, -50px);
    line-height: 1;
  }

  /* .horizontal .animation-wrap.to-right {
    counter-reset: item;
    float: left;
  }

  .horizontal .animation-wrap.to-left {
    counter-reset: item 11;
    float: right;
  } */

  /* .horizontal .animation-wrap.to-right .item:before {
    counter-increment: item;
    content: counter(item);
  }

  .horizontal .animation-wrap.to-left .item:before {
    counter-increment: item -1;
    content: counter(item);
  } */

  .horizontal .animation-wrap .item:nth-child(2n + 2) {
    align-items: flex-start;
  }

  .horizontal .animation-wrap .item:nth-child(4n + 4) {
    align-items: flex-end;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  const horizontalSections = gsap.utils.toArray("div.horizontal");

  horizontalSections.forEach(function (sec, i) {
    const thisPinWrap = sec.querySelector(".pin-wrap");
    const thisAnimWrap = thisPinWrap.querySelector(".animation-wrap");

    const getToValue = () => -(thisAnimWrap.scrollWidth - window.innerWidth);

    gsap.fromTo(
      thisAnimWrap,
      {
        x: () =>
          thisAnimWrap.classList.contains("to-right") ? 0 : getToValue(),
      },
      {
        x: () =>
          thisAnimWrap.classList.contains("to-right") ? getToValue() : 0,
        ease: "none",
        scrollTrigger: {
          trigger: sec,
          start: "top top",
          end: () => "+=" + (thisAnimWrap.scrollWidth - window.innerWidth),
          pin: thisPinWrap,
          invalidateOnRefresh: true,
          //anticipatePin: 1,
          scrub: true,
          //markers: true,
        },
      }
    );
  });
</script>
