---
const shouldDisplayPony = import.meta.env.PONY === "true";
---

if (typeof window !== "undefined") {
console.log(" Display Pony =", shouldDisplayPony)
}

{shouldDisplayPony ? (
  <div>
  <slot />
</div>
) : null}