---
import img1 from "../assets/FOER_OC_Gorebox.png";
import { Image } from "astro:assets";
const { id } = Astro.props;
const { pathname } = Astro.url;
---

<div class="grid grid-cols-1 gap-8 px-8 py-16 mx-auto md:grid-cols-2 md:px-12 lg:px-16 xl:px-32 bg-black text-white z-50">
	<div class="flex flex-col gap-y-2 justify-between">
			<h2 class="text-4xl font-bold leading-tight lg:text-5xl ">Connect with us!</h2>
			<div class="text-white">Have questions or comments?</div>
		<Image 
    src={img1} alt="" height="200" class="h-64 w-64">
	</div>
  <div class="py-6 md:py-0 md:px-6">
    <h1 class="text-4xl font-bold pb-4">Get in touch</h1>
    <!-- <p class="pt-2 pb-4">Fill in the form to start a conversation</p> -->
    <div class="flex flex-col gap-y-4">
      <p class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2 sm:mr-6">
          <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
        </svg>
        <span>Belleview, FL, United States, Florida</span>
      </p>
      <p class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2 sm:mr-6">
          <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"></path>
        </svg>
        <span>(513) 582-5783</span>
      </p>
      <p class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-2 sm:mr-6">
          <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
          <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
        </svg>
        <span>fallenoakequinerescue2020@yahoo.com</span>
      </p>
    </div>
  </div>
</div>