---
import { Icon } from "astro-icon/components";
---

<div
  class="h-auto lg:h-40 mx-auto flex px-0 lg:px-16 items-center justify-center bg-black text-white z-50"
>
  <div class="w-full lg:px-0 px-4 lg:w-3/4 flex lg:flex-row flex-col items-center lg:h-32 justify-center">
    
    <div class="w-full py-8 lg:py-0 lg:w-1/3 lg:h-28 border-b-2 lg:border-b-0 lg:border-r-2 border-neutral-400 flex flex-col justify-center items-center gap-y-4 text-sm px-4">
      <div class="flex flex-col gap-y-1">
        <div class="flex items-center gap-x-2">
          <Icon name="mdi:address-marker" />
          <a href="https://maps.app.goo.gl/ciff1Tjnd1axHWb77" target="_blank"   class="hover:underline underline-offset-4">12418 SE 47th Ave, Belleview, FL 34420</a>
        </div>
        <div class="flex items-center gap-x-2">
          <Icon name="mdi:phone" />
          <span>(513) 582-5783</span>
        </div>
        <div class="flex items-center gap-x-2">
          <Icon name="mdi:email" />
          <a href="mailto:fallenoakequinerescue2020@yahoo.com"  class="hover:underline underline-offset-4">fallenoakequinerescue2020@yahoo.com</a>
        </div>
        <div class="flex items-center gap-x-2">
          <Icon name="mdi:earth" />
          <a href="https://fallenoak.org/" class="hover:underline underline-offset-4">fallenoak.org</a>
        </div>
      </div>
    </div>
    <div class="w-full py-8 lg:py-0 lg:w-1/3 lg:h-28 border-b-2 lg:border-b-0 lg:border-r-2 border-neutral-400 flex flex-col justify-center items-center gap-y-4 text-sm px-4">
      <div class="flex items-center justify-center gap-x-8 lg:gap-x-8 text-4xl">
        <a
          href="https://www.facebook.com/FallenOakEquineRescue"
          target="_blank"
          class="hover:text-[#4267b2] duration-300 cursor-pointer"
        >
          <Icon name="mdi:facebook" /></a
        >
        <a
          href="https://www.facebook.com/FallenOakEquineRescue"
          target="_blank"
          class="hover:text-[#1da1f2] duration-300 cursor-pointer"
        >
          <Icon name="mdi:twitter" /></a
        ><a
        href="https://www.facebook.com/FallenOakEquineRescue"
        target="_blank"
        class="hover:text-[#F56040] duration-300 cursor-pointer"
      >
        <Icon name="mdi:instagram" /></a
      >
        <a
          href="https://www.facebook.com/FallenOakEquineRescue"
          target="_blank"
          class="hover:text-[#7289da] duration-300 cursor-pointer"
        >
          <Icon name="mdi:discord" /></a
        >
      </div>
    </div>
    <div class="w-full py-8 lg:py-0  lg:w-1/3 lg:h-28 flex flex-col justify-center items-center gap-y-2 text-sm px-4">
      <p>
        Fallen Oak Equine Rescue and Rehabilitation, Inc., is a 501c(3)
        non-profit equine rescue devoted to providing a rehabilitative
        sanctuary for horses.
      </p>
      <p>
        © 2024 Fallen Oak
      </p>
    </div>
  </div>
</div>
