<header class="z-40 h-24 w-full -mb-10 sm:mb-0 relative">
  <h2 class="sr-only" id="websitebouwer">Websitebouwer</h2><div
    class="bg-white bg-opacity-90 backdrop-blur absolute inset-0"
  >
  </div><div
    class="relative mx-auto flex h-full flex-row items-center justify-between gap-4 px-6 xl:container"
  >
    <div class="flex h-full flex-nowrap items-center gap-20 2xl:gap-32">
      <a
        href="/"
        title="Straffe Sites"
        class="text-heading border-heading whitespace-nowrap border-[3px] py-1 px-3 text-lg font-bold uppercase tracking-widest sm:text-xl"
        translate="no"
      >
        mobile test
      </a><nav class="hidden tracking-wide xl:flex" aria-label="Navigatie">
        <h2 class="sr-only" id="navigatie">Navigatie</h2><menu
          class="text-heading flex space-x-10 tracking-wider"
          ><li class="group relative">
            <a
              href="/"
              class="flex cursor-pointer items-center gap-4 whitespace-nowrap py-4 text-base font-semibold"
              ><span>Websites</span>
              <span
                ><svg
                  class="w-3 h-3 transition duration-300 transform group-hover:rotate-180"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 12 8"
                  ><path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    fill="currentColor"
                    d="M10.9997 1.16994C10.8123 0.983692 10.5589 0.87915 10.2947 0.87915C10.0305 0.87915 9.77707 0.983692 9.5897 1.16994L5.9997 4.70994L2.4597 1.16994C2.27234 0.983692 2.01889 0.87915 1.7547 0.87915C1.49052 0.87915 1.23707 0.983692 1.0497 1.16994C0.955976 1.26291 0.881582 1.37351 0.830813 1.49537C0.780044 1.61723 0.753906 1.74793 0.753906 1.87994C0.753906 2.01195 0.780044 2.14266 0.830813 2.26452C0.881582 2.38638 0.955976 2.49698 1.0497 2.58994L5.2897 6.82994C5.38267 6.92367 5.49327 6.99806 5.61513 7.04883C5.73699 7.0996 5.86769 7.12574 5.9997 7.12574C6.13172 7.12574 6.26242 7.0996 6.38428 7.04883C6.50614 6.99806 6.61674 6.92367 6.7097 6.82994L10.9997 2.58994C11.0934 2.49698 11.1678 2.38638 11.2186 2.26452C11.2694 2.14266 11.2955 2.01195 11.2955 1.87994C11.2955 1.74793 11.2694 1.61723 11.2186 1.49537C11.1678 1.37351 11.0934 1.26291 10.9997 1.16994Z"
                  ></path></svg
                ></span
              ></a
            ><menu
              class="invisible absolute z-20 flex transform flex-col gap-4 rounded-xl bg-white p-4 text-heading opacity-0 shadow-xl transition duration-500 group-hover:visible group-hover:translate-y-0 group-hover:opacity-100"
              ><li class="hover:bg-gray-20 cursor-pointer rounded-xl">
                <a
                  href="/webhosting"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-heading"
                  >Webhosting</a>
              </li><li class="hover:bg-gray-20 cursor-pointer rounded-xl">
                <a
                  href="/website-onderhoud"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-heading"
                  >Website onderhoud</a>
              </li><li class="hover:bg-gray-20 cursor-pointer rounded-xl">
                <a
                  href="/website-laten-maken"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-heading"
                  >Website laten maken</a>
              </li></menu>
          </li><li class="group relative">
            <a
              href="/"
              class="flex cursor-pointer items-center gap-4 whitespace-nowrap py-4 text-base font-semibold"
              ><span>Development</span>
              <span
                ><svg
                  class="w-3 h-3 transition duration-300 transform group-hover:rotate-180"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 12 8"
                  ><path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    fill="currentColor"
                    d="M10.9997 1.16994C10.8123 0.983692 10.5589 0.87915 10.2947 0.87915C10.0305 0.87915 9.77707 0.983692 9.5897 1.16994L5.9997 4.70994L2.4597 1.16994C2.27234 0.983692 2.01889 0.87915 1.7547 0.87915C1.49052 0.87915 1.23707 0.983692 1.0497 1.16994C0.955976 1.26291 0.881582 1.37351 0.830813 1.49537C0.780044 1.61723 0.753906 1.74793 0.753906 1.87994C0.753906 2.01195 0.780044 2.14266 0.830813 2.26452C0.881582 2.38638 0.955976 2.49698 1.0497 2.58994L5.2897 6.82994C5.38267 6.92367 5.49327 6.99806 5.61513 7.04883C5.73699 7.0996 5.86769 7.12574 5.9997 7.12574C6.13172 7.12574 6.26242 7.0996 6.38428 7.04883C6.50614 6.99806 6.61674 6.92367 6.7097 6.82994L10.9997 2.58994C11.0934 2.49698 11.1678 2.38638 11.2186 2.26452C11.2694 2.14266 11.2955 2.01195 11.2955 1.87994C11.2955 1.74793 11.2694 1.61723 11.2186 1.49537C11.1678 1.37351 11.0934 1.26291 10.9997 1.16994Z"
                  ></path></svg
                ></span
              ></a
            ><menu
              class="invisible absolute z-20 flex transform flex-col gap-4 rounded-xl bg-white p-4 text-heading opacity-0 shadow-xl transition duration-500 group-hover:visible group-hover:translate-y-0 group-hover:opacity-100"
              ><li class="hover:bg-gray-20 cursor-pointer rounded-xl">
                <a
                  href="/storyblok"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-heading"
                  >Storyblok</a>
              </li><li class="hover:bg-gray-20 cursor-pointer rounded-xl">
                <a
                  href="/webdevelopment"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-heading"
                  >Webdevelopment</a>
              </li><li class="hover:bg-gray-20 cursor-pointer rounded-xl">
                <a
                  href="/freelance-webdeveloper"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-heading"
                  >Freelance webdeveloper</a>
              </li><li class="hover:bg-gray-20 cursor-pointer rounded-xl">
                <a
                  href="/cdn"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-heading"
                  >Content Delivery Network</a>
              </li></menu>
          </li><li class="group relative">
            <a
              href="/"
              class="flex cursor-pointer items-center gap-4 whitespace-nowrap py-4 text-base font-semibold"
              ><span>Design</span>
              <span
                ><svg
                  class="w-3 h-3 transition duration-300 transform group-hover:rotate-180"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 12 8"
                  ><path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    fill="currentColor"
                    d="M10.9997 1.16994C10.8123 0.983692 10.5589 0.87915 10.2947 0.87915C10.0305 0.87915 9.77707 0.983692 9.5897 1.16994L5.9997 4.70994L2.4597 1.16994C2.27234 0.983692 2.01889 0.87915 1.7547 0.87915C1.49052 0.87915 1.23707 0.983692 1.0497 1.16994C0.955976 1.26291 0.881582 1.37351 0.830813 1.49537C0.780044 1.61723 0.753906 1.74793 0.753906 1.87994C0.753906 2.01195 0.780044 2.14266 0.830813 2.26452C0.881582 2.38638 0.955976 2.49698 1.0497 2.58994L5.2897 6.82994C5.38267 6.92367 5.49327 6.99806 5.61513 7.04883C5.73699 7.0996 5.86769 7.12574 5.9997 7.12574C6.13172 7.12574 6.26242 7.0996 6.38428 7.04883C6.50614 6.99806 6.61674 6.92367 6.7097 6.82994L10.9997 2.58994C11.0934 2.49698 11.1678 2.38638 11.2186 2.26452C11.2694 2.14266 11.2955 2.01195 11.2955 1.87994C11.2955 1.74793 11.2694 1.61723 11.2186 1.49537C11.1678 1.37351 11.0934 1.26291 10.9997 1.16994Z"
                  ></path></svg
                ></span
              ></a
            ><menu
              class="invisible absolute z-20 flex transform flex-col gap-4 rounded-xl bg-white p-4 text-heading opacity-0 shadow-xl transition duration-500 group-hover:visible group-hover:translate-y-0 group-hover:opacity-100"
              ><li class="hover:bg-gray-20 cursor-pointer rounded-xl">
                <a
                  href="/webdesign"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-heading"
                  >Webdesign</a>
              </li><li class="hover:bg-gray-20 cursor-pointer rounded-xl">
                <a
                  href="/responsief-webdesign"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-heading"
                  >Responsief webdesign</a>
              </li><li class="hover:bg-gray-20 cursor-pointer rounded-xl">
                <a
                  href="/freelance-webdesigner"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-heading"
                  >Freelance webdesigner</a>
              </li></menu>
          </li><li class="group relative">
            <a
              href="/"
              class="flex cursor-pointer items-center gap-4 whitespace-nowrap py-4 text-base font-semibold"
              ><span>Marketing</span>
              <span
                ><svg
                  class="w-3 h-3 transition duration-300 transform group-hover:rotate-180"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 12 8"
                  ><path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    fill="currentColor"
                    d="M10.9997 1.16994C10.8123 0.983692 10.5589 0.87915 10.2947 0.87915C10.0305 0.87915 9.77707 0.983692 9.5897 1.16994L5.9997 4.70994L2.4597 1.16994C2.27234 0.983692 2.01889 0.87915 1.7547 0.87915C1.49052 0.87915 1.23707 0.983692 1.0497 1.16994C0.955976 1.26291 0.881582 1.37351 0.830813 1.49537C0.780044 1.61723 0.753906 1.74793 0.753906 1.87994C0.753906 2.01195 0.780044 2.14266 0.830813 2.26452C0.881582 2.38638 0.955976 2.49698 1.0497 2.58994L5.2897 6.82994C5.38267 6.92367 5.49327 6.99806 5.61513 7.04883C5.73699 7.0996 5.86769 7.12574 5.9997 7.12574C6.13172 7.12574 6.26242 7.0996 6.38428 7.04883C6.50614 6.99806 6.61674 6.92367 6.7097 6.82994L10.9997 2.58994C11.0934 2.49698 11.1678 2.38638 11.2186 2.26452C11.2694 2.14266 11.2955 2.01195 11.2955 1.87994C11.2955 1.74793 11.2694 1.61723 11.2186 1.49537C11.1678 1.37351 11.0934 1.26291 10.9997 1.16994Z"
                  ></path></svg
                ></span
              ></a
            ><menu
              class="invisible absolute z-20 flex transform flex-col gap-4 rounded-xl bg-white p-4 text-heading opacity-0 shadow-xl transition duration-500 group-hover:visible group-hover:translate-y-0 group-hover:opacity-100"
              ><li class="hover:bg-gray-20 cursor-pointer rounded-xl">
                <a
                  href="/seo"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-heading"
                  >SEO</a>
              </li><li class="hover:bg-gray-20 cursor-pointer rounded-xl">
                <a
                  href="/copywriting"
                  class="inline-flex whitespace-nowrap px-4 py-2 text-base font-semibold hover:text-heading"
                  >Copywriting</a>
              </li></menu>
          </li><li>
            <a
              href="/blog"
              class="inline-flex whitespace-nowrap text-base py-4 font-semibold"
              >Blog</a>
          </li></menu>
      </nav>
    </div><div
      class="hidden items-center gap-4 font-semibold text-heading xl:flex"
    >
      <a href="/contact" class="flex items-center gap-2 hover:text-heading"
        ><svg
          class="h-4"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          ><path
            fill-rule="evenodd"
            clip-rule="evenodd"
            fill="currentColor"
            d="M0 288l55.6 23.8L192 370.3V376v64 56l48 16 73.3-89.7 88.9 38.1L448 480l6.6-49.4L504.1 59.5 512 0 459.6 29.4 52.7 258.4 0 288zM408.8 411L268.4 350.8 444.9 140.2 408.8 411zM222.3 331.1L108.3 282.2 401.5 117.2 222.3 331.1z"
          ></path></svg
        >
        <span>Contact</span></a
      >
      <svg class="h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 512"
        ><path
          fill-rule="evenodd"
          clip-rule="evenodd"
          fill="currentColor"
          d="M48 0V16 496v16H16V496 16 0H48z"></path></svg
      ><astro-island
        uid="ZthmKV"
        component-url="/_astro/Language.48db090a.js"
        component-export="default"
        renderer-url="/_astro/client.ef651e53.js"
        props="{}"
        ssr=""
        client="visible"
        opts='{"name":"Langauge","value":true}'
        await-children=""
        ><button class="flex items-center justify-center gap-2"
          ><astro-slot
            ><svg
              class="h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                fill="currentColor"
                d="M256 464c7.4 0 27-7.2 47.6-48.4c8.8-17.7 16.4-39.2 22-63.6H186.4c5.6 24.4 13.2 45.9 22 63.6C229 456.8 248.6 464 256 464zM178.5 304h155c1.6-15.3 2.5-31.4 2.5-48s-.9-32.7-2.5-48h-155c-1.6 15.3-2.5 31.4-2.5 48s.9 32.7 2.5 48zm7.9-144H325.6c-5.6-24.4-13.2-45.9-22-63.6C283 55.2 263.4 48 256 48s-27 7.2-47.6 48.4c-8.8 17.7-16.4 39.2-22 63.6zm195.3 48c1.5 15.5 2.2 31.6 2.2 48s-.8 32.5-2.2 48h76.7c3.6-15.4 5.6-31.5 5.6-48s-1.9-32.6-5.6-48H381.8zm58.8-48c-21.4-41.1-56.1-74.1-98.4-93.4c14.1 25.6 25.3 57.5 32.6 93.4h65.9zm-303.3 0c7.3-35.9 18.5-67.7 32.6-93.4c-42.3 19.3-77 52.3-98.4 93.4h65.9zM53.6 208c-3.6 15.4-5.6 31.5-5.6 48s1.9 32.6 5.6 48h76.7c-1.5-15.5-2.2-31.6-2.2-48s.8-32.5 2.2-48H53.6zM342.1 445.4c42.3-19.3 77-52.3 98.4-93.4H374.7c-7.3 35.9-18.5 67.7-32.6 93.4zm-172.2 0c-14.1-25.6-25.3-57.5-32.6-93.4H71.4c21.4 41.1 56.1 74.1 98.4 93.4zM256 512A256 256 0 1 1 256 0a256 256 0 1 1 0 512z"
              ></path></svg
            > Nederlands</astro-slot
          ></button
        >
      </astro-island>
    </div><aside class="flex h-full w-1/2 flex-1 justify-end xl:hidden">
      <h2 class="sr-only" id="mobiele-navigatie">Mobiele navigatie</h2><div
        class="flex items-center"
      >
        <label
          class="relative z-[9999] cursor-pointer px-3 py-6"
          for="ss-mobile-menu"
          ><input class="peer hidden" type="checkbox" id="ss-mobile-menu" /><div
            class="bg-heading before:bg-heading after:bg-heading block h-[1px] content-[''] relative w-7 bg-transparent peer-checked:bg-transparent z-[10000] before:peer-checked:transform before:peer-checked:rotate-45 before:peer-checked:top-0 before:peer-checked:w-full after:peer-checked:transform after:peer-checked:-rotate-45 after:peer-checked:bottom-0 after:peer-checked:w-full before:block before:h-full before:w-full before:absolute before:content-[''] before:transition-all before:ease-out before:duration-200 before:top-[-0.35rem] before:z-[10000] after:block after:h-full after:w-full after:right-0 after:absolute after:content-[''] after:transition-all after:ease-out after:duration-200 after:bottom-[-0.35rem]"
          >
          </div><div
            class="fixed inset-0 z-[9999] hidden h-full w-full bg-heading/50 backdrop-blur-sm peer-checked:block"
          >
            &nbsp;
          </div><div
            class="fixed top-0 right-0 z-[9999] h-full w-full translate-x-full overflow-y-auto overscroll-y-none transition duration-500 peer-checked:translate-x-0 peer-checked:shadow-heading"
          >
            <div
              class="float-right min-h-full w-[85%] bg-white px-6 pt-12 shadow-2xl"
            >
              <menu class="mt-8 mb-8 flex flex-col space-y-4 text-heading"
                ><li>
                  <a href="/" class="whitespace-nowrap pb-1 font-semibold"
                    >Websites</a
                  ><menu class="space-y-4 py-4 px-6 font-semibold"
                    ><li>
                      <a href="/webhosting" class="whitespace-nowrap pb-1"
                        >Webhosting</a>
                    </li><li>
                      <a
                        href="/website-onderhoud"
                        class="whitespace-nowrap pb-1">Website onderhoud</a>
                    </li><li>
                      <a
                        href="/website-laten-maken"
                        class="whitespace-nowrap pb-1">Website laten maken</a>
                    </li></menu>
                </li><li>
                  <a href="/" class="whitespace-nowrap pb-1 font-semibold"
                    >Development</a
                  ><menu class="space-y-4 py-4 px-6 font-semibold"
                    ><li>
                      <a href="/storyblok" class="whitespace-nowrap pb-1"
                        >Storyblok</a>
                    </li><li>
                      <a href="/webdevelopment" class="whitespace-nowrap pb-1"
                        >Webdevelopment</a>
                    </li><li>
                      <a
                        href="/freelance-webdeveloper"
                        class="whitespace-nowrap pb-1"
                        >Freelance webdeveloper</a>
                    </li><li>
                      <a href="/cdn" class="whitespace-nowrap pb-1"
                        >Content Delivery Network</a>
                    </li></menu>
                </li><li>
                  <a href="/" class="whitespace-nowrap pb-1 font-semibold"
                    >Design</a
                  ><menu class="space-y-4 py-4 px-6 font-semibold"
                    ><li>
                      <a href="/webdesign" class="whitespace-nowrap pb-1"
                        >Webdesign</a>
                    </li><li>
                      <a
                        href="/responsief-webdesign"
                        class="whitespace-nowrap pb-1">Responsief webdesign</a>
                    </li><li>
                      <a
                        href="/freelance-webdesigner"
                        class="whitespace-nowrap pb-1">Freelance webdesigner</a>
                    </li></menu>
                </li><li>
                  <a href="/" class="whitespace-nowrap pb-1 font-semibold"
                    >Marketing</a
                  ><menu class="space-y-4 py-4 px-6 font-semibold"
                    ><li>
                      <a href="/seo" class="whitespace-nowrap pb-1">SEO</a>
                    </li><li>
                      <a href="/copywriting" class="whitespace-nowrap pb-1"
                        >Copywriting</a>
                    </li></menu>
                </li><li>
                  <a href="/blog" class="whitespace-nowrap pb-1 font-semibold"
                    >Blog</a>
                </li><li>
                  <a
                    href="/contact"
                    class="whitespace-nowrap pb-1 font-semibold">Contact</a>
                </li></menu>
            </div>
          </div></label>
      </div>
    </aside>
  </div>
</header>
