---
const { pathname } = Astro.url;
import { Image } from "astro:assets";
import img1 from "../assets/logo.png";
---
<div
style="filter: drop-shadow(0 1px 1px #000)"
  class="fixed flex w-full px-12 justify-between z-[100] bg-[#937666] text-black"
>
  <a href="/" class="flex items-center justify-center">
    <Image src={img1} alt=""  height="48" class="px-2 duration-300 hover:opacity-50"/>
  </a>
  <nav
    class="text-sm gap-x-8 uppercase font-semibold tracking-wide text-center flex h-12 items-center"
  >
    <a
      class={`hover:underline underline-offset-4`}
      href="/">Home</a
    >
    <!-- <a
      class={`hover:underline underline-offset-4 ${pathname === "/about" ? "underline" : null}`}
      href="/about">About</a
    > -->
    <a
      class={`hover:underline underline-offset-4 ${pathname.includes("/about") ? "underline" : null}`}
      href="/about">About</a
    >
    <a
      class={`hover:underline underline-offset-4 ${pathname.includes("/news") ? "underline" : null}`}
      href="/news">News & Events</a
    >
    <a
      class={`hover:underline underline-offset-4 ${pathname.includes("/adopt") ? "underline" : null}`}
      href="/adopt">Adoptables</a
    >
    <a
      class={`hover:underline underline-offset-4 ${pathname.includes("/contact") ? "underline" : null}`}
      href="/donate">Donate</a
    >
    <!-- <a
      class={`hover:underline underline-offset-4 ${pathname.includes("/credits") ? "underline" : null}`}
      href="/credits">Credits</a
    > -->
  </nav>
</div>
