---
const { pathname } = Astro.url;
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import img1 from "../assets/logo.png";
---

<header
  class="z-40 h-20 xl:h-12 w-full -mb-10 sm:mb-0 relative sm:fixed uppercase"
>
  <div
    style="filter: drop-shadow(0 1px 1px #000)"
    class="bg-[#937666] bg-opacity-100 backdrop-blur absolute inset-0"
  >
  </div><div
    class="relative mx-auto flex h-full flex-row items-center justify-between gap-4 px-6 xl:container"
  >
    <div class="flex h-full flex-nowrap items-center gap-20 2xl:gap-32">
      <a href="/" class="flex items-center justify-center">
        <Image
          src={img1}
          alt=""
          height="200"
          class="w-auto h-16 py-2 xl:py-0 xl:h-8 px-2 hover:opacity-50"
        />
      </a>
      <nav class="hidden tracking-wide xl:flex" aria-label="Navigation">
        <h2 class="sr-only" id="navigation">Navigation</h2><menu
          class="text-heading flex space-x-10 tracking-wide"
          ><li>
            <a
              href="/"
              class={`${pathname === "/" ? "underline" : null} hover:underline underline-offset-[6px] inline-flex whitespace-nowrap text-sm py-4 font-semibold`}
              >Home</a
            >
          </li>
          <li>
            <a
              href="/about"
              class={`${pathname.includes("/about") ? "underline" : null} hover:underline underline-offset-[6px] inline-flex whitespace-nowrap text-sm py-4 font-semibold`}
              >About Us</a
            >
          </li>
          <li>
            <a
              href="/adopt"
              class={`${pathname.includes("/adopt") ? "underline" : null} hover:underline underline-offset-[6px] inline-flex whitespace-nowrap text-sm py-4 font-semibold`}
              >Adopt</a
            >
          </li>
          <li>
            <a
              href="/sponsor"
              class={`${pathname.includes("/sponsor") ? "underline" : null} hover:underline underline-offset-[6px] inline-flex whitespace-nowrap text-sm py-4 font-semibold`}
              >Sponsor</a
            >
          </li>
          <li>
            <a
              href="/donor"
              class={`${pathname.includes("/donor") ? "underline" : null} hover:underline underline-offset-[6px] inline-flex whitespace-nowrap text-sm py-4 font-semibold`}
              >Donors</a
            >
          </li><li>
            <a
              href="/news"
              class={`${pathname.includes("/news") ? "underline" : null} hover:underline underline-offset-[6px] inline-flex whitespace-nowrap text-sm py-4 font-semibold`}
              >News & Events</a
            >
          </li>
          <li>
            <a
              href="/credits"
              class={`${pathname.includes("/credits") ? "underline" : null} hover:underline underline-offset-[6px] inline-flex whitespace-nowrap text-sm py-4 font-semibold`}
              >Credits</a
            >
          </li>
          <li>
            <a
              href="https://www.etsy.com/shop/FallenOakRescue"
              class={`hover:underline underline-offset-[6px] inline-flex whitespace-nowrap text-sm py-4 font-semibold`}
              >Store</a
            >
          </li>
          </menu>
      </nav>
    </div><div
      class="hidden items-center gap-4 font-semibold text-heading xl:flex"
    >
      <a
        href="https://www.zeffy.com/en-US/donation-form/bc6d55cd-76c7-4d42-ace0-52499a32e5ed"
        target="_blank"
        class="duration-300 hover:bg-blue-200 bg-blue-50 border-2 border-blue-200 hover:border-blue-400 rounded font-semibold text-base px-3 py-1 flex items-center gap-x-2"
      >
        <span>Donate</span>
        <Icon name="mdi:donate" class="text-2xl text-blue-400" /></a
      >
    </div>
    <aside class="flex h-full w-1/2 flex-1 justify-end xl:hidden">
      <h2 class="sr-only" id="mobile-navigation">Mobile navigation</h2>
      <div class="flex items-center">
        <label class="relative cursor-pointer px-3 py-6" for="ss-mobile-menu"
          ><input class="peer hidden" type="checkbox" id="ss-mobile-menu" />
          <div
            class="bg-heading before:bg-heading after:bg-heading block h-[3px] content-[''] relative w-7 bg-transparent peer-checked:bg-transparent z-[10000] before:peer-checked:transform before:peer-checked:rotate-45 before:peer-checked:top-0 before:peer-checked:w-full after:peer-checked:transform after:peer-checked:-rotate-45 after:peer-checked:bottom-0 after:peer-checked:w-full before:block before:h-full before:w-full before:absolute before:content-[''] before:transition-all before:ease-out before:duration-200 before:top-[-0.35rem] before:z-[10000] after:block after:h-full after:w-full after:right-0 after:absolute after:content-[''] after:transition-all after:ease-out after:duration-200 after:bottom-[-0.35rem]"
          >
          </div><div
            class="fixed inset-0 z-[9999] hidden h-full w-full bg-heading/50 backdrop-blur-sm peer-checked:block"
          >
            &nbsp;
          </div><div
            class="fixed top-0 right-0 z-[9999] h-full w-full translate-x-full overflow-y-auto overscroll-y-none transition duration-500 peer-checked:translate-x-0 peer-checked:shadow-heading"
          >
            <div
              style="filter: drop-shadow(0 2px 2px #000)"
              class="flex items-center text-3xl float-right min-h-[101vh] w-[80%] bg-yellow-50 px-6 pt-0 shadow-2xl"
            >
              <menu class="mt-8 mb-8 flex flex-col gap-y-8 text-heading"
                ><li>
                  <a
                    href="/"
                    class={`${pathname === "/" ? "underline" : null} hover:underline underline-offset-8 whitespace-nowrap pb-1 font-semibold`}
                    >Home</a
                  >
                </li><li>
                  <a
                    href="/about"
                    class={`${pathname.includes("/about") ? "underline" : null}  hover:underline underline-offset-8 whitespace-nowrap pb-1 font-semibold`}
                    >About us</a
                  >
                </li><li>
                  <a
                    href="/adopt"
                    class={`${pathname.includes("/adopt") ? "underline" : null}  hover:underline underline-offset-8 whitespace-nowrap pb-1 font-semibold`}
                    >Adopt</a
                  >
                </li><li>
                  <a
                    href="/sponsor"
                    class={`${pathname.includes("/sponsor") ? "underline" : null}  hover:underline underline-offset-8 whitespace-nowrap pb-1 font-semibold`}
                    >Sponsor</a
                  >
                </li>
                <li>
                  <a
                    href="/donor"
                    class={`${pathname.includes("/donor") ? "underline" : null}  hover:underline underline-offset-8 whitespace-nowrap pb-1 font-semibold`}
                    >Donors</a
                  >
                </li><li>
                  <a
                    href="/news"
                    class={`${pathname.includes("/news") ? "underline" : null}  hover:underline underline-offset-8 whitespace-nowrap pb-1 font-semibold`}
                    >News & Events</a
                  >
                </li><li>
                  <a
                    href="/credits"
                    class={`${pathname.includes("/credits") ? "underline" : null} hover:underline underline-offset-8 whitespace-nowrap pb-1 font-semibold`}
                    >Credits</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.zeffy.com/en-US/donation-form/bc6d55cd-76c7-4d42-ace0-52499a32e5ed"
                    class={`hover:underline underline-offset-8 whitespace-nowrap pb-1 font-semibold`}
                    >Donate</a
                  >
                </li></menu
              >
            </div>
          </div></label
        >
      </div>
    </aside>
  </div>
</header>

<style>
  label {
    @apply active:bg-white rounded;
  }
  .bg-heading::before {
    @apply bg-black;
  }
  .bg-heading::after {
    @apply bg-black;
  }

  label {
  }
</style>
