---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
// import { ViewTransitions } from "astro:transitions";
import { getImage } from "astro:assets";
const { title } = Astro.props;

const { pathname } = Astro.url;
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" href="/logo.png" />
    <meta charset="UTF-8" />
    <meta property="og:title" content="Fallen Oak Equine Rescue" />
    <meta
      property="og:description"
      content="Welcome to Fallen Oak Equine Rescue!"
    />
    <meta property="og:image" content="/fallenoak.png" />
    <meta property="og:image:width" content="3572" />
    <meta property="og:image:height" content="2836" />
    <meta property="og:url" content="https://fallenoak.org" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Fallen Oak Equine Rescue" />
    <meta property="og:image:alt" content="Fallen Oak Equine Rescue logo" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Fallen Oak Equine Rescue" />
    <meta
      name="twitter:description"
      content="Welcome to Fallen Oak Equine Rescue!"
    />
    <meta name="twitter:image" content="/fallenoak.png" />
    <meta name="description" content="Welcome to Fallen Oak Equine Rescue!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- <ViewTransitions /> -->

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper ">
      <Navbar />
      <!-- <div class="threshold" style="top: 10%"></div>
		<div class="threshold" style="bottom: 50%"></div> -->
      <main class="overflow-x-hidden">
        <slot />
        <Footer id="footer" />
      </main>
    </div>
  </body>
</html>

<style is:global>
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

html, body {
  @apply bg-yellow-50;
}
html {
  /* overflow-y: auto;
  scrollbar-gutter: stable; */
}

@keyframes fadein {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes jump {
    0% {
      transform: scale(0) rotate(0deg);
    }
    50% {
      transform: scale(1.1) rotate(0deg);
    }
    100% {
      transform: scale(1) rotate(0deg);
    }
  }

  @keyframes jump-rotate-1 {
    0% {
      transform: scale(0) rotate(-3deg);
    }
    50% {
      transform: scale(1.1) rotate(-3deg);
    }
    100% {
      transform: scale(1) rotate(-3deg);
    }
  }

  @keyframes jump-rotate-2 {
    0% {
      transform: scale(0) rotate(3deg);
    }
    50% {
      transform: scale(1.1) rotate(3deg);
    }
    100% {
      transform: scale(1) rotate(3deg);
    }
  }
</style>

<script>
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
import Lenis from "lenis";

gsap.registerPlugin(ScrollTrigger);

const mm = gsap.matchMedia();
window.mm = mm;


const lenis = new Lenis({
  content: document.querySelector(".wrapper"),
  duration: 1.2,
  easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
});

window.lenis = lenis;

const raf = (t) => {
  lenis.raf(t);
  // lenis.resize();
  // ScrollTrigger.update();
   requestAnimationFrame(raf);
};
requestAnimationFrame(raf);

window.onload = function() {
    window.scrollTo(0, 0);
}

// console.log('swup not yet enabled', window.swup);
//   document.addEventListener('swup:enable', () => {
//     console.log('swup enabled', window.swup);
//     // ScrollTrigger.getAll().forEach((t) => t.kill());
//     ScrollTrigger.refresh();
//   });

</script>